* {
  font-family: "Comic Sans MS", "Chalkboard", cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f3e3;
  background-image: linear-gradient(to right, #d1c7b7 1px, transparent 1px),
  linear-gradient(to bottom, #d1c7b7 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: center;
}

.rounded-border {
  border: 2px solid black;
  border-radius: 25px;
}

.screen-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-game-name {
  font-size: 64px;
  font-weight: bold;
}

.title-greeting {
  font-size: 24px;
}

.screen {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.flex-grow {
  flex-grow: 1;
}

.control-panel {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-content: center;
  gap: 10px;
  padding: 20px;
}

.control-panel-heading {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.control-panel > button {
  height: 40px;
  border-radius: 20px;
}
