.timer-container {
  position: relative;
  width: 80%;
  height: 30px;
  margin: 0 auto;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.timer-bar {
  height: 100%;
  width: 100%;
  background-color: #76c7c0;
  transition: width 1s linear;
}

#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 100vw;
}

#squares-container {
  display: grid;
  grid-template-columns: repeat(6, min(12vh, 12vw));
  grid-template-rows: repeat(6, min(12vh, 12vw));
  place-items: center;
}

.square {
  height: 65%;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  transform-origin: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  aspect-ratio: 1;
}

.highlighted {
  border: 3px solid black;
}

.score {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  height: 8%;
  align-content: center;
}
