.title-game-name {
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  color: #4a90e2;
  transform: rotate(-2deg);
  margin: 0;
  line-height: 1.2;
  padding-top: 50px;
  display: inline-block;
  animation: bounce 1s infinite alternate ease-in-out;
  text-shadow:
      -5px 5px 0 #000,
      1px 1px 0 #000,
      1px -1px 0 #000,
      -1px -1px 0 #000;
}

.title-greeting {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #50c878;
  transform: rotate(2deg);
  margin-top: 10px;
  border-radius: 8px;
  padding: 5px 15px;
  display: inline-block;
  animation: bounce 0.7s infinite alternate ease-in-out;
  text-shadow:
      -2px 2px 0 #000,
      1px 1px 0 #000,
      1px -1px 0 #000,
      -1px -1px 0 #000;
}

@keyframes bounce {
  0% {
    transform: rotate(-2deg) translateY(0);
  }
  100% {
    transform: rotate(-2deg) translateY(-10px);
  }
}

.control-panel {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  justify-content: center;
  align-content: center;
  gap: 1.25rem;
  padding: 1.5rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.control-panel-heading {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .title-game-name {
    font-size: 3rem;
  }

  .title-greeting {
    font-size: 1.25rem;
  }

  .control-panel-heading {
    font-size: 2rem;
  }

  .control-panel {
    padding: 1rem;
    gap: 1rem;
  }

  .control-panel > button {
    height: 2.5rem;
    font-size: 0.9rem;
  }
}
